{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">Outubro 06, 2021</h2>
                            <h1 class="title">Getting Started</h1>
                            <p>É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível
                                de uma página ao examinar seu layout.
                                O objetivo de usar Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos
                                normal, ao contrário de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça
                                inglês legível.
                                Muitos pacotes de editoração eletrônica e editores de páginas da web agora usam Lorem
                                Ipsum como seu texto de modelo padrão,
                                e uma pesquisa por 'lorem ipsum' revelará muitos sites ainda em sua infância. Várias
                                versões evoluíram ao longo dos anos, às vezes por acidente,
                                às vezes de propósito (humor injetado e coisas do gênero).
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">Outubro 06, 2021</h2>
                            <h1 class="title">Getting Started</h1>
                            <p>É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível
                                de uma página ao examinar seu layout.
                                O objetivo de usar Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos
                                normal, ao contrário de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça
                                inglês legível.
                                Muitos pacotes de editoração eletrônica e editores de páginas da web agora usam Lorem
                                Ipsum como seu texto de modelo padrão,
                                e uma pesquisa por 'lorem ipsum' revelará muitos sites ainda em sua infância. Várias
                                versões evoluíram ao longo dos anos, às vezes por acidente,
                                às vezes de propósito (humor injetado e coisas do gênero).
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
{% endblock%}